@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stalinist+One&family=Zen+Antique&display=swap");

@import "tailwindcss";

@theme {
  --font-header: "Stalinist One";
  --font-body: "Montserrat";
  --font-jp: "Zen Antique";
}

html {
  scroll-behavior: smooth;
}

@media (hover: none) {
  html {
    scroll-behavior: auto;
  }
}

*::selection {
  background: #c192c6;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebaac1;
  box-shadow: inset 0 0 5px #8c5d91;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c5d91;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7c5185;
  cursor: url(assets/neo-nyan-pointer.png), auto;
}

/* Custom cursor */
.app {
  cursor: url(assets/neo-nyan-cursor.png), auto;
}

.app button,
.app a {
  cursor: url(assets/neo-nyan-pointer.png), pointer;
}

.app .cursor-pointer {
  cursor: url(assets/neo-nyan-pointer.png), pointer;
}
